@tailwind base;
@tailwind components;
@tailwind utilities;

.ctn{
  background-color: #FFA229;
  color: white;
}
.top_nav{
  background-color: #1C4670;
  color: white;
}
.footer{
  background-color: #011B5B;
}
.video_section{
  background-color: #1C4670;
  color: white;
}
.video_icons{
  background-color: #FFA229;
  color: white;
  
}
.service{
  background-color: #1C4670;
  color: white;
}
.industry_background {
  background: linear-gradient(to right, #FFA229, #1C4670);
}

.learn_more{
  background-color: #1C4670;
  color: white;
}